{# Overview/capa-page #}
<section class="capa-page">
    <div class="capa">
        <div class="capa__label">DOCUMENTO DE MIGRAÇÃO OTM</div>
        <h1 class="capa__title">{{ data.project.name }}</h1>
        <div class="capa__meta">
            <div class="capa__version">Versão: {{ data.project.version }}</div>
            <div class="capa__code">Código: {{ data.project.code }}</div>
            {% if data.project.consultant %}
            <div class="capa__code">Consultor: {{ data.project.consultant }}</div>
            {% endif %}
        </div>
    </div>
</section>
